/mergekit_repo
/results_output
/lm-evaluation-harness
/runs/evolve_tiny_llamas
/runs/random_llamas
/runs/previous_runs
/evolution.egg-info
/cache
/evolution/utils/data/
/lm_eval/my_datasets
__pycache__/
/runs/MistralEvolve/DNAs/
*.pyc
*.pyo
*.pyd

direct_eval.py
download_dataset.py
lite_llama_demo.py
my_eval.py
slerp_tinymix_demo.py
ancestry_viewer.py
/runs/quick_evolve/
/runs/wild_west/
